<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					Made By <a href="http://mikeseidle.com">Mike Seidle</a> based on WeWorkMeteor by <a href="http://natestrauser.me" target="_blank">Nate Strauser</a>
					&nbsp;-&nbsp;
					<i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a href="https://github.com/indymike/ssgjobs" target="_blank">Fork me on GitHub</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a href="/rss/jobs" target="_blank">Jobs</a> | <a href="/rss/profiles" target="_blank">Experts</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a href="/api/jobs" target="_blank">Jobs</a> | <a href="/api/profiles" target="_blank">Experts</a>
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				SSG Jobs and Experts is a service of the <a href="http://bit.ly/coolssg">Startup Study Group</a>. Job ads and expert profiles are provided by and owned by the posting user.
			</div>
		</div>
	</footer>
</template>
